html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1 {
    color: darkred;
    font-size: 40pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.tagline {
    color: darkolivegreen;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}


img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: beige;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: darkolivegreen;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 100%;
    height: auto;
    background-color: white;
}

#banner img {
    width: auto;
    height: auto;
}
#restaurant {
    width: 100%;
    height: auto;
    background-color: white;
}
#restaurant img{
    width: 100%;
    height: auto;
}
#about {
    width: 100%;
    height: auto;
    background-color: white;
}
#about img {
    width: 100%;
    height: auto;
}

.service {
    display: inline-block;
    color: darkred;
    text-align: center;
    background-color: beige;
    border: 5px solid darkolivegreen;
    border-radius: 5px;
    font-family: cursive;
    font-size: 15pt;
    padding: 10px;
    margin: 10px;
}
.about {
    color: darkred;
    font-size: 40pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.description {
    color: darkolivegreen;
    font-size: 9pt;
    font-family: cursive;
    font-style: normal;
}
.locations {
    color: darkred;
    font-size: 15pt;
    text-align: center;
}
.places {
    list-style-type: none;
    color: darkolivegreen;
    font-size: 10pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.hours {
    color: darkred;
    font-size: 18pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact {
    color: darkred;
    font-size: 18pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.weekdays {
    color: darkolivegreen;
    font-size: 15pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.weekends {
    color: darkolivegreen;
    font-size: 15pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.phone {
    color: darkolivegreen;
    font-size: 15pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.email {
    color: darkolivegreen;
    font-size: 15pt;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border: 3px solid darkolivegreen;
    width: 100%;
}
  
td,
th {
    border: 1px solid darkolivegreen;
    padding: 5px;
}
.menu {
    color: darkred;
    font-size: 40pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.appetizers {
    color: darkred;
    font-size: 12pt;
    font-family: cursive;
}
.lunch {
    color: darkred;
    font-size: 12pt;
    font-family: cursive;
}
.dinner {
    color: darkred;
    font-size: 12pt;
    font-family: cursive;
}
.dessert {
    color: darkred;
    font-size: 12pt;
    font-family: cursive;
}
.beverages {
    color: darkred;
    font-size: 12pt;
    font-family: cursive;
}
.side {
    color: darkred;
    font-size: 12pt;
    font-family: cursive;
}
/* Bonus */
.hightlight {
    color: orangered;
}
#holiday {
    width: 100%;
    padding: 20px;
    background-color: yellow;
}
footer {
    width: 100%;
    padding: 20px;
    background-color: burlywood;
}   
footer p {
    color: darkgreen;
    font-size: 15pt;
}